* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/********* NAV *********/
.content {
  padding: 5px 20px;
}

.mainnav {
    height: 100vh;
    position: relative;
}


.mainnav ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* el 0 es bottom y top y auto derecha izquierda*/
}

.mainnav ul li {
    line-height: 4em;
}

header {
    width: 100%;
    background-color: #47A898;
    position: fixed;
    z-index: 999;
  }
 
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;  /*asi quedan aliniados igual,ni uno mas arriba q el otro*/
  }

.logo {
  color: #98F5E5;
  text-decoration: none;
  font-size: 36px;
  font-weight: 600;
}

.toggler {
  color:#98F5E5;
  cursor: pointer;

}

nav {
  width: 100%;
  display: none;
  
}

nav ul {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  color: #F2F2F2;
  font-size: 18px;
  line-height: 40px;
  transition: 0.3s ease-out; /*transicion con los segundos q tarda y la manera:ease-out mas suave*/
}
/********* NAV *********/

/********* COVER *******/
.cover {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('../images/libros.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.cover a {

  color: white;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  
}

.arrow {
border: solid white;
padding: 1em;
border-width: 0 2px 2px 0; /* manejas dos de los lados de la caja*/
transform: rotate(45deg);

}

/********* COVER *******/

/********* INTRO *******/

.intro {
height: 100vh; /*total de la pantalla*/
background: linear-gradient(360deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 10%), rgb(240,240,240);
padding: 3em;
display: flex; 
justify-content: center;
align-items: center;
flex-direction: column; /*por ser para celular*/

}

.intro h1 {
  font-size: 3em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 900;
  color:rgba(0, 0, 0, 0.8);
  
  
  
}

H1 span{
  color: #47A898;
}


.intro p {

color: rgb(173, 172, 172);
line-height: 1.8em;
margin-top: 3em;
}


/********* INTRO *******/

/********* CARDS *******/
.contenedor {
width: 100%;
display: flex;
flex-direction: column; 
flex-wrap: wrap; /*asi aaprece uno al lado del otro cuando expandimos*/
align-items: center;
}

.card {
-webkit-border-radius: 10px  50px;
border-radius: 10px 50px;
background-color: grey;
width: 80%;
min-width: 250px;
max-height: 250px;
padding: 20px;
box-sizing: border-box;
color: white; 
text-align: center;
background-size: cover;
margin: 1em;
box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.2);
display: flex;
justify-content: center;
align-items: center;
}

.card h2 a{

  text-decoration: none;
  color: white;
  font-size: 36px;
  text-transform: uppercase;
}

.card i{
  display: none; /*este icono no aparece ne cel*/
}

hr{
  border: 1px solid tan;
  color: tan;
  width: 30%;
  margin: 1em auto;  /*margin botom 1 em / derechaizquiera en auto* y asi queda centrado*/

  }

.autor1{
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('../images/borges.jpg') no-repeat center center; /*sin fixed asi queda fija*/ 
}

.autor2{
background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('../images/cortazar.jpg') no-repeat center center; 
order: 1;
}

.autor3{
background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('../images/neruda.jpg') no-repeat center center; 
    

}

/********* CARDS *******/
/********* footer *******/
footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
}


footer a{
color: #47A898;
text-decoration: none;
}

/********* footer *******/